body {
    background-color: #d5d9dd;
    font-family: Arial, sans-serif;
    margin: 0;
    color: #000000  ;
    font-size: 20px;
}

header {
    height: 170px; /* Đặt chiều cao của header */
    color: #4CAF50;
    padding: 18px;
    font-size: 20px;
}

.shop2 {
    float: left;
    font-size: 20px;
    font-family: Anton;
}

.shop {
    font-family: Rowdies;
    margin-left: 330px;
    font-size: 50px;
    margin-bottom: 50px;
}

.shop3 {
    color: #e9a81c;
    font-family: Dela Gothic One;
    margin-left: 500px;
}

.add-to-cart-button {
    padding: 10px 20px;
    font-size: 13px;
    background-color: #e9a81c;
    color: white;
    border: none; 
    border-radius: 5px;
}   

.add-to-cart-button:hover {
    background-color: #ff0000;
}

.cart {
    float: right;
}

.search-box {
    margin-left: 900px; 
}

.search-box input[type="text"],.search-box button {
    padding: 8px 12px;
    font-size: 13px;
    border: none;
    border-radius: 20px;
}

.search-box input[type="text"] {
    width: 160px;
}

.search-box button {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.search-box button:hover {
    background-color: #45a049;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    margin-right: 40px;
}

nav ul li a {
    color: #141414;
    text-decoration: none;
}

main {
    background-image: url('https://i.pinimg.com/originals/eb/6d/32/eb6d32be4cb74255920a1d1438e01d91.jpg');
    background-size: cover;/* Đảm bảo ảnh nền đầy đủ phủ kín header */
    background-position: center; /* Căn giữa ảnh nền */ 
    padding: 20px;
}

.original-price {
    text-decoration: line-through;
    color: #ff0505;
    font-style: italic;
    font-size: 22px;
}

.featured-products {
    margin-bottom: 40px;
}

.noidung {
    width: 55%;
    display: flex; /* Hiển thị các sản phẩm theo chiều ngang */
    flex-wrap: nowrap; /* Không cho phép các sản phẩm xuống dòng */
}

.sanpham {
    background-color: #d5d9dd;
    border: 2px solid #000000;
    padding: 10px;
    margin-right: 20px; /* Khoảng cách giữa các sản phẩm */
}

.anhsp {
    width: px; /* Đặt chiều rộng của ảnh */
    height: px; /* Đặt chiều cao của ảnh */
}

footer {
    background-color: #4CAF50;
    color: #000000;
    text-align: center;
    padding: 1px;
    font-size: 15px;
}
