/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header */
header {
    height: 105px;
    color: #4CAF50;
    padding: 18px;
    font-size: 20px;
    position: fixed; 
    width: 100%;
    background-color: #d5d9dd;
}

.shop2 {
    float: left;
    font-size: 20px;
    font-family: anton;
}

.shop {
    font-family: Rowdies;
    margin-left: 25px;
    font-size: 50px;
    margin-bottom: 20px;
    margin-top: 0;
}

.cart {
    float: right;
}

.search-box {
    margin-left: 900px; 
}

.search-box input[type="text"] {
    padding: 8px 12px;
    font-size: 13px;
    border: none;
    border-radius: 20px;
}

.search-box input[type="text"] {
    width: 160px;
}

.search-box button {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.search-box button:hover {
    background-color: #45a049;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    margin-right: 40px;
}

nav ul li a {
    color: #141414;
    text-decoration: none;
}

/* Main */
.container-body {
    padding: 20px;
}

h1 {
    text-align: center;
    margin-top: 150px;
    margin-bottom: 20px;
}

.table {
    width: 100%;
    margin-bottom: 20px;
}

.table th, .table td {
    padding: 8px;
    text-align: center;
    border-bottom: 1px solid #dddddd;
}

.table th {
    background-color: #f8f9fa;
}

.hinhsanpham {
    max-width: 100px;
    height: auto;
    display: block;
    margin: 0 auto;
}

.text-right input{
    width: 30px;
}

.cart-content-bottom h3 {
    text-align: center;
    margin-top: 0px;
}
.cart-content-bottom table {
    width: 100%;
}

.cart-content-bottom table td {
    font-size: 12px;
    color: #333;
    padding: 6px;
    border-bottom: 1px solid #dddddd;
}

.cart-content-bottom tr td:last-child {
    text-align: right;
}

.cart-content-bottom-button {
    text-align: center;
    align-items: center;
    margin-bottom: 20px;
}

.cart-content-bottom-button button {
    padding: 18px;
    height: 35px;
    cursor: pointer;
    margin-top: 20px;
}

.cart-content-bottom-button button:hover {
    background-color: black;
    color: #fff;
    border: 1px solid black;
}

/* Footer */
.footer {
    color: #d5d9dd;
    text-align: center;
    padding: 1px;
    background-color: #4CAF50;
}

.footer-content {
    display: flex;
    font-size: 15px;
}

.address,.contact-info,.return-policy {
    flex: 1; 
}

.copyright {
    text-align: center; 
    margin-top: 1px;
    padding: 1px;
    font-size: 12px;
}

