.container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    opacity: 80%;
    border-radius: 30px;
}
input[type="text"] {
    width: 94%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}
button {
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
button:hover {
    background-color: #0056b3;
}
body {
    background-image: url(https://i.pinimg.com/originals/eb/6d/32/eb6d32be4cb74255920a1d1438e01d91.jpg);
    background-attachment: fixed;
    background-size: 100%;
}
