body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-image: url('https://i.pinimg.com/originals/4b/7d/0a/4b7d0ad9deeeb8fad8f43b12425f6cb9.png');
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center; 
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.HEADER{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
    color: rgb(39, 230, 49);
    text-shadow: 0 0 10px rgb(0, 199, 13),
                 0 0 18px rgb(36, 151, 61),
                 0 0 25px rgb(5, 117, 20);
    height: 200px;
    position: relative;
    left: 210px;
    font-size: 60px;
    display:flex;
    align-items: center;
    padding-left: 30px;
    padding-right: 0px;
    border-left: 10px solid;
    border-right: 10px solid;
    border-radius: 50%;
    width:780px;
}


body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    color: #333;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.row {
    margin-bottom: 30px;
}



.navbar-info input[type="text"] {
    padding: 8px; 
    border-radius: 30px;
}
.texthover li{
    display: inline-block;
    list-style: none;
}
.texthover>li>a{
    font-family:font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;;
}
.texthover li:hover a{
    color: rgb(31, 28, 31);
    box-shadow: 3px 2px 2px rgba(16, 16, 16, 0.747);
    background-color: #d28aecd3;    
    border-radius: 30px;   
    transition: all 0.7s ease 0.1s;      
}
.navbar-form {
    float: left;
    margin-right: auto;
    border-style: inset;
    border-radius: 30px;
}

.section-title {
    font-size: 24px;
    margin-bottom: 20px;
}

.products {
    flex-wrap: wrap;
    display: flex;
}

.product {
    width: 230px;
    margin: 15px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.product img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.product h2 {
    font-size: 18px;
    margin: 10px 0;
}

.product p {
    margin-bottom: 10px;
}






/* Reset CSS */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-image: url('https://i.pinimg.com/originals/4b/7d/0a/4b7d0ad9deeeb8fad8f43b12425f6cb9.png');
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center; 
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}


/* Global styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    color: #333;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.row {
    margin-bottom: 30px;
}
.navbar-info {
    background: #944cc875;
    text-align: center;
    padding: 10px;
    border-style: outset;
    border-radius: 30px;
}
.navbar-info a {
    color: #fff;
text-decoration: none;
    padding: 10px 15px;
    margin: 0 5px;
    display: inline-block;
}
footer {
    color: #00a01b;
    text-align: center;
    padding: 20px;
    width: 700px;
    position: relative;
    transform: translateX(220px);
    bottom: 10px;
    border-radius: 20px;
    border-style: double;
}
.header{
    background: linear-gradient( rgb(213, 1, 255),rgb(240, 190, 255));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
        font-size: 50px;
        text-align: center;
}
.shopy:active{
   background-color: #fc6f23d6;
   transition: all 0.01s ease 0s;
   box-shadow: 1px 3px 5px rgb(89, 90, 91);
   position: relative;
   justify-content: center;
   align-items: center;
   padding: 10px 20px;  
   cursor: pointer;
 
.shopy:active>a{
    color: aliceblue;
}
